<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>new chat</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are you" name="from">
        <br>
        <textarea name="msg" id="" cols="30" rows="10">write your msg here</textarea>
        <br>
        <input type="text" name="to" placeholder="add receiver">
        <br>
        <button>create chat</button>
    </form>
</body>
</html>